src/test/resources/metadata/atos.application.wadl.xml

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<application xmlns="http://research.sun.com/wadl/2006/10">
    <doc xmlns:jersey="http://jersey.dev.java.net/" jersey:generatedBy="Jersey: 1.6 03/25/2011 01:14 PM"/>
    <resources base="http://vphshare.atosresearch.eu/metadata-extended/rest/">
        <resource path="metadata">
            <method name="POST" id="createMetadata">
                <request>
                    <representation mediaType="*/*"/>
                </request>
                <response>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <method name="GET" id="getAllMetadata">
                <request>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="50" type="xs:string" style="query" name="numResults"/>
                    <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="1" type="xs:string" style="query" name="page"/>
                </request>
                <response>
                    <representation mediaType="application/xml"/>
                </response>
            </method>
            <resource path="/tagcloud">
                <method name="GET" id="getTagCloudData">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/migrate">
                <method name="GET" id="migrateResourceMetadata">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/{id}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="id"/>
                <method name="PUT" id="updateMetadata">
                    <request>
                        <representation mediaType="*/*"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
                <method name="DELETE" id="deleteMetadata">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
                <method name="GET" id="getMetadata">
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/facets/{resourceType}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="resourceType"/>
                <method name="GET" id="getMetadataByType">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="50" type="xs:string" style="query" name="numResults"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="1" type="xs:string" style="query" name="page"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/statistics">
                <method name="GET" id="getMetadataStatistics">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="initDate"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="CURRENT_DATE" type="xs:string" style="query" name="endDate"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/multifield">
                <method name="GET" id="getMetadataByMultifield">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="name,description" type="xs:string" style="query" name="params"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="" type="xs:string" style="query" name="text"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="50" type="xs:string" style="query" name="numResults"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="1" type="xs:string" style="query" name="page"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="filters"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/facets/{resourceType}/{facetName}">
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="facetName"/>
                <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="template" name="resourceType"/>
                <method name="GET" id="getMetadataByField">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="value"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="50" type="xs:string" style="query" name="numResults"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="1" type="xs:string" style="query" name="page"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
            <resource path="/filter">
                <method name="GET" id="getMetadataByField">
                    <request>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" style="query" name="logicalExpression"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="GenericMetadata" type="xs:string" style="query" name="resourceType"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="50" type="xs:string" style="query" name="numResults"/>
                        <param xmlns:xs="http://www.w3.org/2001/XMLSchema" default="1" type="xs:string" style="query" name="page"/>
                    </request>
                    <response>
                        <representation mediaType="application/xml"/>
                    </response>
                </method>
            </resource>
        </resource>
    </resources>
</application>